
Library/PackageCache/com.unity.modules.unitywebrequest@1.0.0/package.json
*.meta
*.bin
*.asset
*.json
*.log
*.catalog
*.txt
Temp/FSTimeGet-9cdc67779c1d5c043a63c09875feb210
Library/SourceAssetDB-lock
*.ModuleCompilationTrigger
*.obj
*.gbc
*.bhc
*.dll
*.pdb
Library/Bee/CachedNodeOutput/19c3bd5e6f7a6d3bc1757a2db1391677_out
Library/Bee/CachedNodeOutput/1923c0c1210b74688264931dfd06eeb4_out
Library/Bee/CachedNodeOutput/224449eff8b9a6274f96511a19021732_out
Library/Bee/CachedNodeOutput/2e2641b8b76285a8e5ad6c3dd9dea77b_out
*.graph
Library/ArtifactDB
Library/ArtifactDB-lock
Library/AnnotationManager
*.unity
Library/Artifacts/01/018a238197b03197f6b2657ccaec8dee
Library/Artifacts/01/01cb1d6a3bab8f241e506793a6d221f2
Library/Artifacts/02/02f9a3910a02f449cf2477ec6d0ff0d1
Library/Artifacts/0b/0b0ee1bc9213bd00c8cc3987df8f2b27
Library/Artifacts/0c/0c76c59bb5e964bd8ffe6e9eddcfc6df
Library/Artifacts/18/180ab4e996764ecfee0831bf4ce0cffe
Library/Artifacts/26/26f3bdc1dc9413770e218c4a261d42bc
Library/Artifacts/2a/2ab3a46d6aa958ae140f1dfae9df7576
Library/Artifacts/2e/2eab08fe9ae42759ad99498a3db9edf1
Library/Artifacts/39/398b0f0e0a58bb20c64dddd14a3a8df8
Library/Artifacts/40/4098f2aabd2300f67b5cad0284ef060e
Library/Artifacts/48/48d7731a5d7e647265d43d3eaa29cd26
Library/Artifacts/52/52072345f0a7843f730a4f103d269e4c
Library/Artifacts/5b/5b1981c223ffee1b2922bdfc491c854f
Library/Artifacts/62/6224350b5c0004f76437410478d87946
Library/Artifacts/62/62fd9193a33fb7a0a0fc2753579e53de
Library/Artifacts/67/6737d971c6c9129df70900c033f635c1
Library/Artifacts/70/70e3f9163645b1f4d28ae6553e465bef
Library/Artifacts/76/767e6799bd1bf365191e724b4fca0b39
Library/Artifacts/7c/7c23293ec5f3bd85857ff53ba46908e2
Library/Artifacts/86/862370894e9f9390b3b6c2d4e1e32511
Library/Artifacts/88/880f38e5a887b8f2edd1d3edf97cbd74
Library/Artifacts/8b/8bfc0eb088de8f0d1e6551347cbd6557
Library/Artifacts/8c/8cd4e49ec5254b22176d1f4a0818ef37
Library/Artifacts/a1/a1bdf01c5abb2a9276df9a80d42423b8
Library/Artifacts/ba/ba08c2e57138a4876785a772ed8de7fc
Library/Artifacts/bb/bb8d7faec11deefde2d4cb9211b3d45e
Library/Artifacts/c3/c336c4ad649e21d40ebc1a66c09c2aad
Library/Artifacts/d7/d758c16c2bd5d81cfdc8a700abdf6c95
Library/Artifacts/d8/d88befda8c0b2a1bed7ad12be7d195da
Library/Artifacts/d9/d9673780b23644f76c6b1a97827fb989
Library/Artifacts/d9/d96eb2ac23d258e4c1eb41473317630c
Library/Artifacts/dc/dc8768b2a77ecdeb52e664b0a0d1f974
Library/Bee/1900b0aE.dag
Library/Bee/1900b0aE.dag.outputdata
Library/Bee/1900b0aE.dag.payloads
Library/Bee/1900b0aE.dag_derived
Library/Bee/1900b0aE.dag_fsmtime
Library/Bee/backend1.traceevents
Library/Bee/backend2.traceevents
Library/Bee/bee_backend.info
Library/Bee/buildprogram0.traceevents
Library/Bee/CachedNodeOutput/09ccacd53def700a4f4027ba80ed417f_out
Library/Bee/CachedNodeOutput/09f6ba233114ff64bb6136dd6c63e26f_out
Library/Bee/CachedNodeOutput/13250624f6ef0b267f7de08785d7c24a_out
Library/Bee/CachedNodeOutput/33c7f33f589f1bfcb9be8e943f9f9098_out
Library/Bee/CachedNodeOutput/341f4e763693866b381e674b1a344cc3_out
Library/Bee/CachedNodeOutput/342dcf1dafa0439f559a5f828d0f4097_out
Library/Bee/CachedNodeOutput/3b496dce84356d2261a224ccce248790_out
Library/Bee/CachedNodeOutput/3c53dbcbdcff3a29bc98fd56dff072e2_out
Library/Bee/CachedNodeOutput/479cede1cb7bba4d7a77c9247d8832de_out
Library/Bee/CachedNodeOutput/4cbf767e581a61fb194627c273245fed_out
Library/Bee/CachedNodeOutput/4fc138779f9d1203c939b93c57491217_out
Library/Bee/CachedNodeOutput/5710e2ff8f5053570711c0f17e69dd87_out
Library/Bee/CachedNodeOutput/5770027302387979e310ed7318a92265_out
Library/Bee/CachedNodeOutput/594cf9936ea191e35eac7087461c1a98_out
Library/Bee/CachedNodeOutput/5c882b1b59befc4bcae63676f170daff_out
Library/Bee/CachedNodeOutput/66e2024ebb7d6ba66f2e5189fd0543c4_out
Library/Bee/CachedNodeOutput/713bd9944074da870d335f1e1e5ed610_out
Library/Bee/CachedNodeOutput/7325ea63db1322938df13820bfcbcdee_out
Library/Bee/CachedNodeOutput/7452bae254da1a1f9710917df6902b3c_out
Library/Bee/CachedNodeOutput/77ee0ca033ce9dea1007884c6ba461a0_out
Library/Bee/CachedNodeOutput/7e24b04fe40502c91bea45579ab66f82_out
Library/Bee/CachedNodeOutput/7f675a7b90ec3a4bb5d5ad9f0a1bdaa7_out
Library/Bee/CachedNodeOutput/80a012660645db56f9a974b3524e668c_out
Library/Bee/CachedNodeOutput/813ec59a6fa14c756a697216e6dc9c09_out
Library/Bee/CachedNodeOutput/8faf4ce9ed8a1b99d04e30fd490cbfe7_out
Library/Bee/CachedNodeOutput/9e08cdb408c659d9ff4f7c6516439ddf_out
Library/Bee/CachedNodeOutput/9f273c28768991f26a3d0169f945b39a_out
Library/Bee/CachedNodeOutput/9fcf03af0f79411ab6b75c8f6cadb3ae_out
Library/Bee/CachedNodeOutput/a4e1d73d5bc1e69f13d093d3d1b3546c_out
Library/Bee/CachedNodeOutput/a5c37a066048070ed0b026e328d647f4_out
Library/Bee/CachedNodeOutput/afd03e57edbfb0da13d8879aa4138c32_out
Library/Bee/CachedNodeOutput/b3501918e134430db7bcd750390a4544_out
Library/Bee/CachedNodeOutput/bed09e476f4719b1c2adea6205bfd688_out
Library/Bee/CachedNodeOutput/c9430a5e4c5abbf32b2efb2662421300_out
Library/Bee/CachedNodeOutput/d01c2b66301b2d9a83e5783fa8a047cc_out
Library/Bee/CachedNodeOutput/d28618a76c2d97dc931f1bccc6106a2c_out
Library/Bee/CachedNodeOutput/d64c77a2d95114f3fb65deca5d786693_out
Library/Bee/CachedNodeOutput/d73291170c7115410e7234775002ab7d_out
Library/Bee/CachedNodeOutput/da84f4d00caf17e487d6346e0b0c2261_out
Library/Bee/CachedNodeOutput/e09f441a07c83408cace800a35ef016c_out
Library/Bee/CachedNodeOutput/ea481313958be82e785286031a94ffee_out
Library/Bee/CachedNodeOutput/f1a91133d5518a709a2bc3e78ddae247_out
Library/Bee/CachedNodeOutput/fa84771faa2df0ce229dae4e0c0147a8_out
Library/Bee/CachedNodeOutput/fc1e0c57fe495d3f25065e086373006d_out
Library/Bee/CachedNodeOutput/fe5d626cc35b1b59d15dcb17bf7b7636_out
Library/Bee/CachedNodeOutput/ff394d905cd3105c4825fcd2b3468220_out
Library/Bee/tundra.digestcache
Library/Bee/TundraBuildState.state
Library/Bee/TundraBuildState.state.map
Library/BuildPlayer.prefs
Library/BurstCache/JIT/BurstCacheManifest.cm
Library/expandedItems
Library/ilpp.pid
Library/PackageCache/com.unity.modules.ai@1.0.0/.icon.png
Library/PackageCache/com.unity.modules.animation@1.0.0/.icon.png
Library/PackageCache/com.unity.modules.audio@1.0.0/.icon.png
Library/PackageCache/com.unity.modules.cloth@1.0.0/.icon.png
Library/PackageCache/com.unity.modules.imageconversion@1.0.0/.icon.png
Library/PackageCache/com.unity.modules.imgui@1.0.0/.icon.png
Library/PackageCache/com.unity.modules.particlesystem@1.0.0/.icon.png
Library/PackageCache/com.unity.modules.physics2d@1.0.0/.icon.png
Library/PackageCache/com.unity.modules.physics@1.0.0/.icon.png
Library/PackageCache/com.unity.modules.screencapture@1.0.0/.icon.png
Library/PackageCache/com.unity.modules.ui@1.0.0/.icon.png
Library/PackageCache/com.unity.modules.umbra@1.0.0/.icon.png
Library/PackageCache/com.unity.modules.vehicles@1.0.0/.icon.png
Library/PackageCache/com.unity.modules.wind@1.0.0/.icon.png
Library/PackageManager/ProjectCache
Library/PackageManager/ProjectCache.md5
Library/ScriptMapper
Library/Search/propertyAliases.db
Library/Search/propertyAliases.db.st
Library/Search/propertyDatabase.db
Library/Search/propertyDatabase.db.st
Library/Search/transactions.db
Library/ShaderCache.db
Library/ShaderCache/EditorEncounteredVariants
Library/SourceAssetDB
Temp/UnityLockfile
Temp/workerlic
UserSettings/Layouts/default-2022.dwlt
UserSettings/Search.settings
